.player-form {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    input[type=text], input[type=password] {

        width: 15vw;
        outline: 0;
        padding: 5px 10px;
        background: #f1f1f1;
        border: 0;
        transition-duration: .2s;

    }

    select {
        width: 15vw;
        outline: 0;
        padding: 5px 10px;
        background: #f1f1f1;
        border: 0;

    }

    button[type=submit] {
        width: 10vw;
        align-self: center;
    }

    border-bottom: 2px solid rgba(210,202,177,0.71);

}

.player-list {


}
