.cardSectionWrapper {

    padding: 0;
    margin-bottom: -30px;

    .cardSection {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 100px 20px;
        @media screen and (max-width: 840px) {
            padding: 10px 20px 20px;
        }
        margin: 0 !important;
        min-height: 500px;

        h2 {
            width: 100%;
            padding-bottom: 10px;
            margin: 0;
        }
    }
}

.player-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-bottom: 2px solid #dedede;
}

.card {

    border: 1px solid dimgray;
    width: 18em;
    margin: 5px;
    cursor: pointer;
    z-index: 1;
    transition-duration: .15s;
    border-radius: 12px;

    &:hover {
        transform: scale(1.1);
        z-index: 2;
    }

    &--price {
        display: flex;
        background: lightgray;
        height: 40px;

        div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-cash {
            background: goldenrod;
            font-family: 'Turret Road', cursive;
            font-weight: bold;
            width: 20%;
        }

        &-requirements {
            background-image: linear-gradient(to bottom, rgba(180, 180, 180, 0.85), rgba(180, 180, 180, 0.85)),
            url("/src/assets/img/metal.jpg");
            width: 60%;

            div {
                width: 32%;
            }

            &--temperature {
                color: $temperature;
            }

            &--oxygen {
                color: $oxygen;
            }

            &--water {
                color: $water;
            }

        }

        &-symbol {
            width: 20%;
            padding: 5px 20px;
        }

    }

    h5 {
        text-shadow: 2px 2px #222222;

        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    &-img-top {
        height: 160px;
        border-radius: 0;
        border-bottom: 1px solid dimgray;

        img {
            width: 100%;
            height: auto;
        }
    }

    &-body {

        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 0.65rem;

        &--text {
            display: flex;
            min-height: 120px;

            text-align: left;
            padding: 10px;
            font-size: 14px;

            border: 1px solid dimgray;
            background: floralwhite;
            color: $ui-font;
        }

    }

    &--bg-yellow {
        .card-body {
            @include steel-background(rgb(247, 202, 24), 0.6, 0.5);
        }

        h5 {
            background-image: linear-gradient(to bottom, rgba(247, 202, 24, 0.7), rgba(245, 215, 110, 0.7)), url("/src/assets/img/metal.jpg");
        }
    }

    &--bg-red {
        .card-body {
            @include steel-background(rgb(242, 38, 19), 0.6, 0.5);
        }

        h5 {
            background-image: linear-gradient(to bottom, rgba(242, 38, 19, 0.7), rgba(236, 100, 75, 0.7)), url("/src/assets/img/metal.jpg");
        }
    }

    &--bg-blue {
        .card-body {
            @include steel-background(rgb(34, 167, 240), 0.6, 0.5);
        }

        h5 {
            background-image: linear-gradient(to bottom, rgba(34, 167, 240, 0.7), rgba(37, 116, 169, 0.7)), url("/src/assets/img/metal.jpg");
        }
    }

    &--bg-green {
        .card-body {
            @include steel-background(rgb(38, 166, 91), 0.6, 0.5);
        }

        h5 {
            background-image: linear-gradient(to bottom, rgba(38, 166, 91, 0.7), rgba(144, 198, 149, 0.7)), url("/src/assets/img/metal.jpg");
        }
    }
}

.terraformation-bar {

    width: 100%;
    background-color: $ui-background;
    border: 3px solid $ui-border;
    border-top: 0;
    border-radius: 4px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);

    &-players {
        display: flex;
        flex-wrap: wrap;

        &-cell {

            box-sizing: border-box !important;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $ui-background;
            padding: 5px 0;
            font-size: 20px;

            border-left: 4px solid $ui-border;
            border-right: 4px solid $ui-border;
            border-bottom: 3px solid $ui-border;

            &:nth-child(1).two-players {
                border-left: 0;
                border-bottom: 0;
            }
            &:nth-child(2).two-players {
                border-left: 0;
                border-bottom: 0;
                @media screen and (max-width: 768px) {
                    border-right: 0;
                }
            }

            &:nth-child(1).three-players {
                border-left: 0;
                border-bottom: 0;
                @media screen and (max-width: 768px) {
                    border-right: 3px solid $ui-border;
                    border-bottom: 3px solid $ui-border;
                }
            }
            &:nth-child(2).three-players {
                border-left: 0;
                border-bottom: 0;
                @media screen and (max-width: 768px) {
                    border-right: 0;
                    border-bottom: 3px solid $ui-border;
                }
            }
            &:nth-child(3).three-players {
                border-left: 0;
                border-bottom: 0;
            }

            &:nth-child(1).four-players {
                border-left: 0;
                border-bottom: 0;
                @media screen and (max-width: 768px) {
                    border-right: 3px solid $ui-border;
                    border-bottom: 3px solid $ui-border;
                }
            }
            &:nth-child(2).four-players {
                border-left: 0;
                border-bottom: 0;
                @media screen and (max-width: 768px) {
                    border-right: 0;
                    border-bottom: 3px solid $ui-border;
                }
            }
            &:nth-child(3).four-players {
                border-left: 0;
                border-bottom: 0;
            }
            &:nth-child(4).four-players {
                border-left: 0;
                border-right: 0;
                border-bottom: 0;
            }

        }

        .active-turn {
            color: $ui-border;
        }

    }

    &-generals {

        box-sizing: content-box;

        &-cell {

            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 3px solid $ui-border;
            background-color: $ui-background;
            padding: 5px 10px;
            border-left: 4px solid $ui-border;
            border-right: 4px solid $ui-border;
            font-size: 24px;

        }

        &-cell:first-child {
            border-left: 0;
        }

        &-cell:last-child {
            border-right: 0;
        }

        .generals-cell-water {
            color: $water;
            border-right: 0;
        }

        .generals-cell-temperature {
            color: $temperature;
            border-right: 0;
        }

        .generals-cell-oxygen {
            color: $oxygen;
        }
    }

    @media screen and (max-width: 350px) {
        &-players {
            width: 100%;
            height: auto;
            &-cell {
                font-size: 16px;
                .fa-sun {
                    font-size: 16px !important;
                }
            }
        }
        &-generals {
            width: 100%;
            &-cell {
                width: 100%;
                font-size: 18px;
            }
            &-cell:last-child {
                border-bottom: 0;
            }
        }
    }

}

.login-card {


    background: $ui-background;
    border-left: 6px solid $ui-border;
    @include black-shadow();

    input[type=text] {
        padding: 5px 15px;
        outline: none;
        border: 1px solid transparent;
        border-left: 4px solid transparent;
        -webkit-text-security: square;

        &:focus {
            color: $ui-border;
            border: 1px solid $ui-border;
            border-left: 4px solid $ui-border;
        }

        &::selection {
            background: rgba($ui-border, 0.45);
        }
    }

    button {

        outline: none;
        border: none;
        padding: 6px 10px;
        color: $ui-font;
        font-weight: bold;
        background: white;

        &:hover, &:focus {
            filter: brightness(95%);
        }

    }
}

.production-bold {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    svg {
        margin: 0 4px;
        height: $symbol-height !important;
    }
}

.operationRow {

    border-top: 2px solid #dedede;
    border-bottom: 2px solid #dedede;

    div {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.resources {

    padding: 0;

    &--symbols {
        display: flex;
        padding: 0;
        border-bottom: 4px solid $ui-border;
        @media screen and (max-width: 575px) {
            flex-wrap: wrap;
        }

        h5 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 200px;
            padding: 10px 25px;
            margin: 0;
            background: wheat;
            @media screen and (max-width: 575px) {
                width: 100%;
                height: 45px;
            }
        }

        &-window {
            display: flex;
            overflow-x: auto;
            background: white;

            &-symbol {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 10px 20px;
                font-size: 22px;

                @media screen and (max-width: 559px){
                    width: 30vw !important;
                    margin-left: auto;
                    margin-right: auto;
                }

                @media screen and (min-width: 559px) {
                    border-left: 1px solid #dedede;
                    border-right: 1px solid #dedede;
                    &:first-child {
                        border-left: 2px solid #dedede;
                    }

                    &:last-child {
                        border-right: 2px solid #dedede;
                    }
                }
            }

            .science {
                background-color: whitesmoke;
            }

            .earth {
                background: mediumseagreen;
            }

            .animals {
                background-color: lightseagreen;
            }

            .leaf {
                background-color: palegreen;
            }

            .steel {
                background-color: #7f4b23;
            }

            .star {
                background-color: #484848;
            }
        }
    }
}


aside.resources {
    .container {
        ul {
            padding-inline-start: 0;
            list-style-type: none;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
        }
        .resource-icons{
            border: 2px solid $ui-border;
            border-bottom: 0;
            padding: 15px 30px;
            @media screen and (max-width: 991px){
                padding: 10px 20px;
            }
            color: #fafafa;
            border-right: 0;
            &:first-child {
                border-top-left-radius: 6px;
                @media screen and (max-width: 991px){
                    border-left: 0;
                }
                color: #222222 !important;
                font-size: 20px !important;
                font-weight: bold;
                padding: 10px 45px !important;
            }
            &:last-child{
                border-top-right-radius: 6px;
                border-right: 2px solid $ui-border;
                @media screen and (max-width: 991px){
                    border-right: 0;
                }
            }
            &:not(:first-child):hover {
                background: $ui-background !important;
                color: $ui-border !important;
            }
            @media screen and (max-width: 991px){
                border-radius: 0 !important;
            }
        }
        .resource-icons[title='Gotówka']{
            background-image: linear-gradient(to bottom, rgba(0,40,0, 0.4), rgba(0,60,0, 0.3)),
            url("/src/assets/img/cash.jpg");
        }
        .resource-icons[title='Stal']{
            background-image: linear-gradient(to bottom, rgba(40,30,0, 0.6), rgba(40,30,0, 0.5)),
            url("/src/assets/img/steel2.jpg");
            background-size: cover;
        }
        .resource-icons[title='Tytan']{
            background-image: linear-gradient(to bottom, rgba(50,50,50, 0.2), rgba(100,100,100, 0.2)),
            url("/src/assets/img/stars.jpg");
            background-position: left;
        }
        .resource-icons[title='Zieleń']{
            background-image: linear-gradient(to bottom, rgba(50,70,50, 0.6), rgba(100,120,100, 0.6)),
            url("/src/assets/img/forest.jpg");
            color: palegoldenrod;
            background-position: center;
        }
        .resource-icons[title='Energia']{
            background-image: linear-gradient(to bottom, rgba(140,100,140, 0.3), rgba(140,100,140, 0.2)),
            url("/src/assets/img/lightning.jpg");
        }
        .resource-icons[title='Ciepło']{
            background-image: linear-gradient(to bottom, rgba(60,40,10, 0.3), rgba(60,40,10, 0.4)),
            url("/src/assets/img/fire.jpg");
            background-position: center;
        }
        /*.resource-icons {
            background: $ui-background !important;
            color: $ui-border !important;
        }*/
    }
}


.corpo-credicor {
    background: antiquewhite;
}
.corpo-mining {
    background: darkgray;
}
.corpo-ecoline {
    background: #d9ffd9;
}
.corpo-inventrix {
    background: powderblue;
}
.corpo-thorgate {
    background: plum;
}
