/* UI components */

$ui-background: antiquewhite;
$ui-border: orangered;
$ui-font: #333333;

/* Symbols in-game */

$water: #1c39a8;
$temperature: #d62f32;
$oxygen: #FF8C00;

.symbol-water {
    color: $water;
}

.symbol-temperature {
    color: $temperature;
}

.symbol-oxygen {
    color: $oxygen;
}

$leaf: lawngreen;
$leaf-bg: forestgreen;
.symbol-leaf {
    color: $leaf;
}

$animals: darkolivegreen;
$animals-bg: lightseagreen;
.symbol-animals {
    color: $animals;
}

$science: darkgoldenrod;
$science-bg: whitesmoke;
.symbol-science {
    color: $science;
}

$earth: mediumseagreen;
$earth-bg: royalblue;
.symbol-earth {
    color: $earth-bg;
}

$star: #FFD700;
$star-bg: #484848;
.symbol-star {
    color: $star;
}

$iron: #482613;
$iron-bg: #7f4b23;
.symbol-steel {
    color: $iron;
}

/* Resources icons */
$res-cash: #FF8C00;
$res-steel: $iron;
$res-titan: $star;
$res-green: $leaf;
$res-energy: #c024fc;
$res-heat: $temperature;
.symbol-cash {
    color: $res-cash;
}
.symbol-iron {
    color: $res-steel;
}
.symbol-titan {
    color: $res-titan;
}
.symbol-green {
    color: $res-green;
}
.symbol-energy {
    color: $res-energy;
}
.symbol-heat {
    color: $res-heat;
}

/* orange-based pallette */
$orange1: #FFD700;
$orange2: #FFA500;
$orange3: #FF8C00;
$orange4: #FF7F50;
$orange5: #FF6347;
$orange6: #FF4500;
