/* UI components */

$ui-background: antiquewhite;
$ui-border: orangered;
$ui-font: #333333;
$symbol-height: 24px;

/* Symbols in-game */

$water: #1c39a8;
$temperature: #d62f32;
$oxygen: #FF8C00;

.symbol-water {
    color: $water;
}
.symbol-temperature {
    color: $temperature;
}
.symbol-oxygen {
    color: $oxygen;
}

$leaf: forestgreen;
$animals: darkolivegreen;
$science: darkgoldenrod;
$earth: royalblue;
$star: #FFD700;
$steel: #482613;
.symbol-leaf {
    color: $leaf;
}
.symbol-animals {
    color: $animals;
}
.symbol-science {
    color: $science;
}
.symbol-earth {
    color: $earth;
}
.symbol-star {
    color: $star;
}
.symbol-steel {
    color: $steel;
}

/* Resources icons */
$res-cash: #FF8C00;
$res-iron: $steel;
$res-titan: $star;
$res-green: forestgreen;
$res-energy: #ff3fc8;
$res-heat: $temperature;
.symbol-cash {
    color: $res-cash;
}
.symbol-iron {
    color: $res-iron;
}
.symbol-titan {
    color: $res-titan;
}
.symbol-green {
    color: $res-green;
}
.symbol-energy {
    color: $res-energy;
}
.symbol-heat {
    color: $res-heat;
}

/* orange-based pallette */
$orange1: #FFD700;
$orange2: #FFA500;
$orange3: #FF8C00;
$orange4: #FF7F50;
$orange5: #FF6347;
$orange6: #FF4500;
